**/.idea
**/cmake-build-debug/
**/out/
**/*.iml
**/Labo2/SER_PLEX_Depart/PLEX-Admin/PLEX-Admin.iml
**/Labo2/SER_PLEX_Depart/WFC-Interfaces/WFC-Interfaces.iml
**/*.properties

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*